{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Thanks For your purchase</h2>
            <hr>
            <p class="text-black">Your order information is shown below. Confirmation email on your purchase will be
                sent to
                {{ order.email }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-7"></div>

    </div>
</div>
{% endblock %}