.profile-form-input::placeholder {
    color: lightgray;
}

#id_defualt_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #495057;
}

.order-history {
    max-height: 416px;
    overflow-y: auto;
}