<div class="collapse navbar-collapse header-bg" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=asc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="Gaming-mouse-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mouses
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Gaming-mouse-link">
                <a href="{% url 'products' %}?category=rgb_mouse" class="dropdown-item">Rgb</a>
                <a href="{% url 'products' %}?category=cordless_mouse" class="dropdown-item">Cordless</a>
                <a href="{% url 'products' %}?category=cordless_mouse,rgb_mouse" class="dropdown-item">All Mouses</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="headphones-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Headsets
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="headphones-link">
                <a href="{% url 'products' %}?category=rgb_headset" class="dropdown-item">Rgb</a>
                <a href="{% url 'products' %}?category=cordless_headset" class="dropdown-item">Cordless</a>
                <a href="{% url 'products' %}?category=cordless_headset,rgb_headset" class="dropdown-item">All
                    Headsets</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="chair-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Chairs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="chair-link">
                <a href="{% url 'products' %}?category=gaming_chair" class="dropdown-item">All Chairs</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="keyboard-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Keyboards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="keyboard-link">
                <a href="{% url 'products' %}?category=rgb_keyboard" class="dropdown-item">Rgb</a>
                <a href="{% url 'products' %}?category=cordless_keyboard" class="dropdown-item">Cordless</a>
                <a href="{% url 'products' %}?category=cordless_keyboard,rgb_keyboard" class="dropdown-item">All
                    Keyboards</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All
                    Specials</a>
            </div>
        </li>
    </ul>
</div>